.DS_Store
*.sw*
log/*.log
tmp/*
db/*.sqlite*
gems/*
!gems/cache
public/assets
public/system
public/uploads
coverage
.sass-cache
.bundle-cache
vendor/ruby
vendor/local
vendor/bundle

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
